@charset "UTF-8";
header { width: 100%; }

header .site-navs { height: 22px; padding-top: 20px; }

header .site-navs img, header .site-navs .site-menu { position: relative; top: 10px; }

header .site-navs .site-menu { float: right; margin-right: 45px; }

header .site-navs .site-menu li { float: left; line-height: 16px; padding: 2px 0; }

header .site-navs .site-menu li .welcome a { color: #333; font-family: '微软雅黑'; }

header .site-navs .site-menu li .welcome a span { padding-right: 8px; border-right: 1px solid #EDE4DE; }

header .site-navs .site-menu li .welcome a span.register { padding-left: 8px; }

header .site-navs .site-menu li .welcome a:hover { color: #e19619; text-decoration: underline; }

header .site-navs .site-menu li:nth-child(2) { margin-left: 22px; padding-left: 16px; background: url("../img/index_app_download.png") no-repeat -3px; }

header .site-navs .site-menu li:nth-child(3) { margin-left: 26px; padding-left: 24px; background: url("../img/mbg.png") no-repeat; }

header .site-logo { overflow: hidden; margin-bottom: 10px; }

header .site-logo .logo a img, header .site-logo .logo a .site-navs .site-menu, header .site-navs .site-logo .logo a .site-menu { width: 400px; margin-top: 15px; }

header .site-logo .logo-menu { margin-top: 55px; margin-left: 30px; width: 444px; }

header .site-logo .logo-menu ul li { float: left; margin-right: 23px; }

header .site-logo .logo-menu ul li a { font-size: 14px; line-height: 30px; font-family: '微软雅黑'; display: block; }

header .site-logo .logo-menu ul li a:hover { color: #e19619; border-bottom: 2px solid #e19619; }

header .site-logo .search ul { overflow: hidden; margin-top: 30px; margin-bottom: 8px; }

header .site-logo .search ul li { float: left; margin-right: 18px; }

header .site-logo .search ul li a { color: #A496A4; }

header .site-logo .search ul li a:hover { text-decoration: underline; }

header .site-logo .search input { width: 270px; height: 26px; border: 2px solid #C61A2F; float: left; padding-left: 6px; }

header .site-logo .search button { width: 30px; height: 30px; background-color: #C61A2F; border: 0 none; float: left; box-sizing: border-box; }

nav { background: url("../img/naver_bj.gif"); }

nav ul li { float: left; }

nav ul li a { display: block; height: 40px; margin-right: 18px; line-height: 40px; color: #333; }

nav ul li a.active { color: #e19619; }

nav ul li a:hover { color: #e19619; }

footer .foot_guid { border: 1px solid #D7D7D7; overflow: hidden; }

footer .foot_guid ul { height: 284px; width: 150px; padding-top: 14px; border-right: 1px solid #D7D7D7; float: left; }

footer .foot_guid ul li { padding-left: 20px; }

footer .foot_guid ul li h3 { line-height: 18px; color: #000; }

footer .foot_guid ul li p { line-height: 18px; margin-bottom: 8px; color: #000; }

footer .foot_guid ul li a { line-height: 24px; color: #737373; }

footer .foot_guid ul li a:hover { color: #e19619; border-bottom: 1px solid #e19619; }

footer .foot_guid ul.guid_link li { padding-left: 0px; text-align: center; }

footer .foot_guid ul.guid_link li p { color: #737373; line-height: 28px; }

footer .foot_guid .contact { text-align: center; float: left; width: 292px; }

footer .foot_guid .contact div.contact_p { border-bottom: 1px solid #D7D7D7; padding-top: 44px; height: 104px; }

footer .foot_guid .contact div.contact_e { padding-top: 22px; height: 126px; }

footer .foot_guid .contact p.hotline { line-height: 12px; color: #737373; }

footer .foot_guid .contact p.tel { font-size: 16px; line-height: 36px; font-weight: bold; color: #000; }

footer .foot_guid .contact p.tel_time { color: #B2B2B2; }

footer .foot_guid .contact p.email { line-height: 12px; }

footer .foot_guid .contact p.email_num { line-height: 30px; font-weight: bold; color: #000; font-size: 14px; }

footer .foot_guid .contact p.email_num a:hover { text-decoration: underline; }

footer .foot_guid .contact p.ps { line-height: 12px; margin-bottom: 20px; }

footer .foot_brand { height: 90px; background: url("../img/footer_ico1.png") no-repeat 0 10px; }

footer .foot_links { height: 41px; background: url("../img/naver_bj.gif"); }

footer .foot_links ul { overflow: hidden; width: 1200px; margin: 0 auto; }

footer .foot_links ul li { float: left; }

footer .foot_links ul li a { margin-right: 15px; line-height: 41px; }

footer .foot_links ul li a:hover { color: #e19619; }

footer .foot_b { text-align: center; }

footer .foot_b p { color: #9696B1; line-height: 40px; }

footer .foot_b p a { color: #9696B1; }

footer .foot_b p a:hover { text-decoration: underline; }

footer .foot_b .foot_img img, footer .foot_b .foot_img header .site-navs .site-menu, header .site-navs footer .foot_b .foot_img .site-menu { border: 1px solid #E1E1E1; }

footer .foot_b .foot_img img.verify, footer .foot_b .foot_img header .site-navs .verify.site-menu, header .site-navs footer .foot_b .foot_img .verify.site-menu { width: 102px; border: 0 none; }

footer .foot_b .foot_img a:hover .verify { width: 122px; margin-left: -20px; margin-top: -8px; position: relative; left: 10px; top: 4px; }
