.buy { margin-top: 20px; }

.buy .glass { margin-top: 30px; }

.buy .glass .small { width: 60px; }

.buy .glass .small img { width: 60px; }

.buy .details { margin-top: 30px; width: 600px; }

.buy .details h2 { font-weight: bold; font-size: 14px; color: #000; height: 30px; line-height: 30px; }

.buy .details .sy { color: #e11937; height: 30px; }

.buy .details .koubei { border-bottom: 1px dotted #666; padding-bottom: 10px; margin-bottom: 15px; }

.buy .details .price { height: 36px; }

.buy .details .price span { font-size: 22px; color: #e11937; margin-right: 30px; margin-left: 5px; font-weight: bold; }

.buy .details .price span.no { font-size: 13px; color: #666; font-weight: normal; text-decoration: line-through; }

.buy .details .shui { height: 36px; line-height: 36px; }

.buy .details .shui img { margin-left: 20px; }

.buy .details .youhui { background-color: #fafafa; border: 1px solid #e1e1e1; padding: 20px 15px; }

.buy .details .youhui p { color: #535353; height: 30px; }

.buy .details .youhui .msg { width: 495px; }

.buy .details .youhui .msg span { background-color: #ff2837; color: #fff; display: inline-block; width: 35px; height: 12px; padding: 3px 0; margin-right: 10px; border-radius: 3px; text-align: center; }

.buy .details .youhui .msg .msgt { color: #e19619; border-bottom: 1px dotted #ccc; margin-bottom: 10px; }

.buy .details .youhui .msg p.msgb { color: #969696; }

.buy .details .youhui .msg a { display: inline-block; background: url("../img/lingquan.png") no-repeat; width: 65px; height: 22px; text-align: center; line-height: 22px; color: #fff; margin-left: 20px; }

.buy .details .method { height: 33px; color: #969696; margin-top: 20px; }

.buy .details .method span { color: #535353; }

.buy .details .method a { color: #e19619; margin-left: 10px; }

.buy .details .method a:hover { text-decoration: underline; }

.buy .details .combo { margin-bottom: 20px; }

.buy .details .combo div, .buy .details .combo .choose { float: left; width: 88px; border-left: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; margin-left: 10px; cursor: pointer; }

.buy .details .combo div p, .buy .details .combo .choose p { height: 22px; line-height: 22px; border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; text-align: center; }

.buy .details .combo .act, .buy .details .combo div:hover, .buy .details .combo .choose:hover { border-color: #f00; }

.buy .details .combo .act p, .buy .details .combo div:hover p, .buy .details .combo .choose:hover p { border-color: #f00; }

.buy .details .combo .act p:nth-child(1), .buy .details .combo div:hover p:nth-child(1), .buy .details .combo .choose:hover p:nth-child(1) { border-bottom-color: #e3e3e3; }

.buy .details .combo .choose { width: 65px; border: 0 none; line-height: 40px; margin-left: 0px; }

.buy .details .dinggou input { width: 42px; height: 21px; border: 1px solid #e4e4e4; text-align: center; margin: 0 10px; }

.buy .details .dinggou span { margin-left: 30px; color: #e21735; }

.buy .details button { width: 195px; height: 35px; margin: 20px 20px 20px 0; color: #fff; background-color: #e6b606; border: 1px solid #ccc; border-radius: 3px; font-size: 16px; cursor: pointer; }

.buy .details .jwsm { width: 560px; padding: 10px; margin: 10px 0; background: #fafafa; border: 1px solid #e1e1e1; }

.buy .details .jwsm p { line-height: 24px; color: #969696; }

.small-zoom { position: relative; width: 470px; overflow: hidden; }

.small-zoom img { display: block; }

.small-zoom .zoom { display: none; position: absolute; width: 30px; height: 30px; border: 1px solid #ccc; background-color: #fff; opacity: 0.3; }

.big-zoom { display: none; position: absolute; width: 400px; height: 300px; overflow: hidden; border: 2px solid #eee; }

.big-zoom img { position: absolute; left: 0; right: 0; min-width: 1000px; }
